<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avatar</key>
		<string>头像1</string>
		<key>comments</key>
		<array>
			<string>陈龙 : 谁tm都别给我抢,这个奖我要定了</string>
			<string>于知源 : 大哥四季黑色长大衣不容易的!</string>
		</array>
		<key>images</key>
		<array>
			<string>图片1.1</string>
		</array>
		<key>likes</key>
		<array>
			<string>陈龙</string>
			<string>于知源</string>
			<string>路学智</string>
			<string>牛非薛</string>
			<string>潘伊人</string>
			<string>熊豪</string>
			<string>谢欢</string>
		</array>
		<key>name</key>
		<string>花星月</string>
		<key>text</key>
		<string>最近听说组织内部有奸细，我决定谁把他揪出来，奖给谁一辆空调车！</string>
		<key>time</key>
		<string>昨天</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>头像2</string>
		<key>comments</key>
		<array>
			<string>陈龙 : 大哥别怕还有我！！！</string>
			<string>谢欢 : ......</string>
		</array>
		<key>images</key>
		<array>
			<string>图片2.1</string>
		</array>
		<key>likes</key>
		<array>
			<string>Bourbon</string>
			<string>Kir</string>
		</array>
		<key>name</key>
		<string>熊豪</string>
		<key>text</key>
		<string>我能怎么办？在线等，急！</string>
		<key>time</key>
		<string>昨天</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>头像3</string>
		<key>comments</key>
		<array>
			<string>路学智 : 这不是大叔在见到洋子小姐，吹nb的时候笑的吗</string>
		</array>
		<key>images</key>
		<array>
			<string>图片3.1</string>
			<string>图片3.2</string>
		</array>
		<key>likes</key>
		<array/>
		<key>name</key>
		<string>牛非薛</string>
		<key>text</key>
		<string>这波模仿给个十分不过分吧，u1s1大叔笑得太ws了</string>
		<key>time</key>
		<string>10 : 38</string>
	</dict>
	<dict>
		<key>avatar</key>
		<string>头像4</string>
		<key>comments</key>
		<array>
			<string>邓巨凡 : 你呀，和新一一样，眼里就只有福尔摩斯</string>
		</array>
		<key>images</key>
		<array>
			<string>图片4.1</string>
		</array>
		<key>likes</key>
		<array>
			<string>谢欢</string>
			<string>熊豪</string>
		</array>
		<key>name</key>
		<string>康天祥</string>
		<key>text</key>
		<string>排除所有不可能的，剩下的那个即使再不可思议，那也是事实。-- 福尔摩斯。没有完美的犯罪，而侦探就是得在细节当中，找到犯罪的关键性证据。</string>
		<key>time</key>
		<string>15 : 10</string>
	</dict>
</array>
</plist>
